#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sectionTitle {
  background: #fff;
  color: #000;
  text-align: left;
  padding: 1rem;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.listWrapper {
  width: 500px;
  margin-block: 2rem;
}

.universityTitle {
  white-space: nowrap;
  background-color: #1a1a1a;
  border-block: 2px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom virtual list styles */
.virtual-list {
  width: 500px;
  background: #ff5e00;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.virtual-list-item-wrapper {
  position: relative;
}

.virtual-list .virtual-list-item {
  border-bottom: 1px solid #eee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 100% !important;
}

@media (prefers-color-scheme: light) {
  .sectionTitle {
    background: #00ff2f;
  }
}

